body{
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    margin: auto;
}
ul{
    list-style: none;
    border-bottom: 4px black;
}    
#tartalom{
    float: right;
}
#menü{ 
    float: left;
    background-color: rgb(66, 66, 66);
    color: white;
}
#lotto{
    background-color: blue;
    text-align: center;
}