body{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    
}

#tartalom{
    float: left;
    width: 40%;
    margin-left: 100px;
    
}

#menü{
    float: left;
    background-color: rgb(66, 66, 66);
    color: white;
}

#lotto{
    background-image: url(hm1/hatter.jpg);
    text-align: center;
    height: 300px;
    width: 350px;
    background-repeat: no-repeat;
    background-size: 400px;
}
img{
    width: 500px;
}


.column {
    float: left;
    text-align: center;
}

.column img{
    width: 100px;
}

.lottószöveg{
    margin-top: -150px;

}
.lottókép{
    margin-top: 40px;
    margin-left: -78px;
}

td{
    border-bottom: 2px rgb(102, 102, 102) solid;
    height: 40px;
    color: rgb(204, 204, 204);
}

a{
    color: rgb(204, 204, 204);
    text-decoration: none;
    height: max-content;
    
}

a:hover{
    text-decoration: none;
    color: rgb(204, 204, 204);
}

table{
    margin-left: 30px;
}

ul{
    list-style-type: none;
}

.sárgak {
    float: left;
    padding: 5px;
    height: 20%;
    position: relative;
    right: 95px;
    top: 30px;
    
    
}
.sárgak img{
    width: 500px;
    
    
}

.sárgal {
    float: left;
    padding: 5px;
    height: 20%;
    position: relative;
    right: 95px;
    top: -540px;
    
    
}
.sárgal img{
    width: 500px;
    
}

.sárgaé {
    float: left;
    padding: 5px;
    height: 20%;
    position: relative;
    right: 95px;
    top: -735px;
   
}
.sárgaé img{
    width: 500px;
    
}
.elsőke{
    position: relative;
    top: 50px;
    font-size: 70px;
    font-weight: 50;
    right: -90;
}
.másodikka{
    position: relative;
    top: 60px;
    right: 510px;
    font-size: 70px;
    font-weight: 50;
}
.harmadikka{
    position: relative;
    top: 60px;
    right: 510px;
    font-size: 70px;
    font-weight: 50;
}
.kettőkilenc{
    position: relative;
    right: -325px;
    top: 170px;
    font-size: 50px;
}
.kettőtizennyolc{
    position: relative;
    right: -325px;
    top: 175px;
    font-size: 50px;
}
.kettőnyolc{
    position: relative;
    right: -325px;
    top: 170px;
    font-size: 50px;
}
#leggyakoribb{
    font-size: 50px;
}

#első{
    position: relative;
    top: -250%;
    left: -1%;
    
}
#második{
    position: relative;
    top: -250%;
    left: -0.5%;
}
#harmadik{
    position: relative;
    top: -250%;
    left: 0.1%;
}
#negyedik{
    position: relative;
    top: -250%;
    left: 0.5%;
}
#ötödik{
    position: relative;
    top: -250%;
    left: 1%;
}


